mat-card{
    border-radius: 10px;
    background: linear-gradient(#1a75ff,#ffff99 80%);
}

.loginEmoji{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 256px;
    height: 256px;
}

.loginEmojiText {
    text-align: center;
    font-size: 24px;
}


.first-sec {
    /*width: 320px;*/
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

.manage-goals-card {
    /*background-color: rgba(173, 216, 230, 0.14);*/
}

.goal-title {
    font-size: 32px;
    text-align: center;
}

.goal-content {
    list-style-type: none;
    font-size: 21px;
    Word-wrap: break-word;
}

.your-goals-title {
    text-align: left;
    font-size: 32px;
    Word-wrap: break-word;
}

#add-icon {
    color: forestgreen;
}

.goal-complete {
    color: green;
}

.goal-incomplete {
    color: red;
}

.goals-card {
    width: 275px;
    padding: 15px;
    margin:0 auto;
    margin-bottom: 15px;
    background-color: rgba(144, 238, 144, 0.22);
}

.delete-button {
    color: indianred;

}

.complete-button {    background-color:black;

    color: limegreen;
}

.goal-name {
    text-align: center;
    Word-wrap: break-word;
}

.goals-image {
    float: right;
}

.goals-buttons {
    float: right;
}

