<div *ngIf="user; else promptLogin">
<div layout="row" layout-sm="column" layout-xs="column">

<!-- Contact Phone numbers card is being inserted here-->
<mat-card id="yourContacts">
    <mat-card-content class="addedResources" id="addedResources">
        <mat-card-title id="resourceTitle">Your Contacts</mat-card-title>
        <mat-divider></mat-divider>

        <mat-accordion *ngIf="resources; else resourcesError" >
            <mat-expansion-panel #elem class="resources" *ngFor="let resource of resources">
                <mat-expansion-panel-header>
                    <mat-panel-title>{{resource.name}}</mat-panel-title>
                    <mat-panel-description >{{resource.phone}}</mat-panel-description>
                </mat-expansion-panel-header>
                <mat-panel-description >{{resource.body}}</mat-panel-description>
                <button id = "deleteContact" mat-raised-button color="accent" (click)="deleteResource(resource._id['$oid'])">Delete Contact</button>
            </mat-expansion-panel>
        </mat-accordion>

        <ng-template #resourcesError>
            <mat-error>
                There was a problem loading the data. Possibly the server is down or perhaps there are network
                issues.
            </mat-error>
            <mat-error>
                Please wait a bit and try again or start the server.
            </mat-error>
        </ng-template>
    </mat-card-content>
    <div class="addNewResourceDiv">
        <button id = "addNewContact" mat-raised-button (click)="openDialog()"><mat-icon id="add-icon">add</mat-icon>Add a Contact</button>
    </div>
</mat-card>

<mat-card id="contactNumbers">
    <mat-card-content class="contact-numbers">
        <mat-card-title class="contact-numbers-title" id="contactNumbersTitle"><!--<i class="material-icons">phone_forwarded</i>--><!--<mat-icon class="little-phone-icon">phone</mat-icon>-->Contact Numbers</mat-card-title>
        <mat-card-subtitle id="contact-numbers-subtitle">In times of need you can refer to these phone numbers
            to have support. It's always okay to have someone to talk to</mat-card-subtitle>

        <!--<mat-header-cell id="suicide-prevention-lifeline" #elem class="contact-numbers-to-call">-->
            <h4 mat-line>
                <mat-panel-title class="hotline-company-name">Suicide Prevention Lifeline</mat-panel-title>
            </h4>
            <mat-panel-description class="actual-phone-number"><mat-icon class="little-phone-icon">phone</mat-icon><a href="tel: 1-800-273-8255">1-800-273-8255</a></mat-panel-description>
        <!--</mat-header-cell>-->
                <br>
        <!--<mat-expansion-panel id="crisis-hotline" #elem class="contact-numbers-to-call">-->
            <h4 mat-line>
                <mat-panel-title class="hotline-company-name">Crisis Hotline</mat-panel-title>
            </h4>
        <mat-panel-description class="actual-phone-number"><mat-icon class="little-phone-icon">phone</mat-icon><a href="tel: 775-784-8090">775-784-8090</a></mat-panel-description>
        <!--</mat-expansion-panel>-->
            <br>

<!--        <mat-expansion-panel id="crisis-text-line" #elem class="phone-numbers-to-call">-->
            <h4 mat-line>
                <mat-panel-title class="hotline-company-name">Crisis Text Line</mat-panel-title>
            </h4>
            <mat-panel-description class="actual-phone-number"><mat-icon class="little-phone-icon">textsms</mat-icon><a href="sms: 741741">741741</a></mat-panel-description>
            <br>
        <!--</mat-expansion-panel>-->
    </mat-card-content>
</mat-card>

<mat-card id="ResourceLinks">
    <mat-card-content class="resource-links">
        <mat-card-title class="resource-links-title" id="resourceLinksTitle">Resource Links</mat-card-title>
        <mat-card-subtitle>Some possibly useful links to resources</mat-card-subtitle>

        <mat-expansion-panel id="breating-exercises" #elem class="resource-links">
            <mat-expansion-panel-header>
                <mat-panel-title class="breathing-exercise-links">Breathing Exercises</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>A few links to breathing exercises to try</mat-panel-description>
            <br>
            <a href="http://www.livingbydesignonline.com/ananga-living-by-design-blog/2009/6/9/5-anti-stress-breathing-techniques-to-help-you-feel-calm-any.html"
               target="_blank" style="text-decoration: none; border-bottom: 1px transparent; /*color: #black*/">5 Anti Stress Breathing techniques</a>
            <br>
            <a href="https://psychcentral.com/blog/4-breathing-exercises-to-reduce-your-stress-right-now/" target="_blank"
               style="text-decoration: none; border-bottom: 1px transparent; /*color: #black;*/">4 Breathing Exercises to Reduce Your Stress</a>
            <br>
            <a href="https://www.youtube.com/watch?v=mgzhKW08bMQ" target="_blank" style="text-decoration: none; border-bottom: 1px transparent; /*color: #black;*/">
                Square Breathing Technique Video
            </a>
        </mat-expansion-panel>
        <br>
        <mat-expansion-panel id="anger-management-information" #elem class="resource-links">
            <mat-expansion-panel-header>
                <mat-panel-title class="anger-management-information">Anger Management Information</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>Some links on anger management</mat-panel-description>
            <br>
            <a href="https://www.mayoclinic.org/healthy-lifestyle/adult-health/in-depth/anger-management/art-20045434?pg=1" target="_blank"
               style="text-decoration: none; border-bottom: none; /*color: #black*/">10 tips to tame your temper Mayo Clinic</a>
            <br>
            <a href="https://www.webmd.com/mental-health/anger-management#1" target="_blank"
               style="text-decoration: none; border-bottom: none; /*color: #black*/">Mental Health and Anger Management</a>
        </mat-expansion-panel>
        <br>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title class="general-links">Some generally useful links</mat-panel-title>
            </mat-expansion-panel-header>
            <a href="https://www.youtube.com/watch?v=hFcQpNr_KA4" target="_blank" style="text-decoration: none; border-bottom: none; /*color: #black*/">
                Ted Talk Video: Breath -- five minutes can change your life
            </a>
            <br>
            <a href="https://www.youtube.com/watch?v=8-JXOnFOXQk" target="_blank" style="text-decoration: none; border-bottom: none; /*color: #black*/">
                Video: Brené Brown: Why Your Critics Aren't The Ones Who Count
            </a>
            <br>
            <a href="https://www.youtube.com/watch?v=sXSjc-pbXk4" target="_blank" style="text-decoration: none; border-bottom: none; /*color: #black*/">
                Video: The Power of Vulnerability - Brene Brown
            </a>
            <br>
            <a href="https://www.youtube.com/watch?v=s6xb4H5ueKs" target="_blank" style="text-decoration: none; border-bottom: none; /*color: #black*/">
                PBS Video: THE GIFTS OF IMPERFECTION: LIVING WITH COURAGE, COMPASSION AND CONNECTION
            </a>
        </mat-expansion-panel>
    </mat-card-content>
</mat-card>

<mat-card id="youtube">
    <mat-card-title id="youtubeTitle">Video Playlist</mat-card-title>
    <mat-divider></mat-divider>
    <mat-expansion-panel>
        <mat-step label="Happy Playlist">
        <iframe id="playlistHappy" width="280" height="315" src="https://www.youtube.com/embed/videoseries?list=PL8-vfys6KW5ZCqjfBtZxh5b5nnXvFShcv" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </mat-step>
            <mat-step label="Meh Playlist">
                <iframe id="playlistMeh" width="280" height="315" src="https://www.youtube.com/embed/videoseries?list=PL8-vfys6KW5ZCqjfBtZxh5b5nnXvFShcv" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </mat-step>
            <mat-step label="Unhappy Playlist">
                <iframe id="playlistUnhappy" width="280" height="315" src="https://www.youtube.com/embed/videoseries?list=PL8-vfys6KW5ZCqjfBtZxh5b5nnXvFShcv" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </mat-step>
            <mat-step label="Frustrated Playlist">
                <iframe id="playlistFrustrated" width="280" height="315" src="https://www.youtube.com/embed/videoseries?list=PL8-vfys6KW5ZCqjfBtZxh5b5nnXvFShcv" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </mat-step>
            <mat-step label="Anxious Playlist">
                <iframe id="playlistAnxious" width="280" height="315" src="https://www.youtube.com/embed/videoseries?list=PL8-vfys6KW5ZCqjfBtZxh5b5nnXvFShcv" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </mat-step>
        <button mat-raised-button matStepperNext id="nextPlaylist" color="primary" type="button">Next</button>
    </mat-expansion-panel>
</mat-card>
</div>
</div>

<ng-template #promptLogin>
    <img class="loginEmoji" src="https://image.flaticon.com/icons/svg/260/260205.svg" alt="Sunshine Journal">
    <p class="loginEmojiText">Please sign in with your google account to access Sunshine Journal</p>
</ng-template>
