mat-card{
    border-radius: 10px;
    background: linear-gradient(#1a75ff,#ffff99 80%);
    width: 300px;
}

mat-expansion-panel{
    background: linear-gradient(#ccf2ff,#e6e6e6);
}



#addNewResources{
    background-color: lightgreen;
}

.addNewResourceDiv{
    padding: 10px;
}

#add-icon {
    color: forestgreen;
}

.loginEmoji{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 256px;
    height: 256px;
}

.loginEmojiText{
    text-align: center;
    font-size: 24px;
}

#deleteContact{
    float: right;
    margin-bottom: 10px;
}

#youtube{
    width: 312px;
}

#youtubeTitle, #resourceTitle, #resourceLinksTitle, #contactNumbersTitle{
    text-align: center;
}

