/*mat-card {
    text-align: center;
    border-radius: 10px;
    background: linear-gradient(#1a75ff,#ffff99 80%);

}

mat-card-content img {
    width: 45%;
    max-width: 500px;
    padding-bottom: 5%;
    padding-top: 5%;
}*/

mat-horizontal-stepper{
    background: none;
}

.loginEmoji{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 256px;
    height: 256px;
    padding: 32px;
}

.loginEmojiText {
    text-align: center;
    font-size: 24px;
}

#main-body {
    text-align: center;
}

.headerText{
    font-size: 200%;
}

.moodText{
    margin-top: 0px;
    font-size: 130%;
}

#currentEmoji {
    padding-top: 10px;
    width: 20%;
    height: 20%;
}

#leftEmoji {
    padding-top: 10px;
    padding-right: 10px;
    width: 12%;
    height: 12%;
    opacity: 0.5;
}

#rightEmoji {
    padding-top: 10px;
    padding-left: 10px;
    width: 12%;
    height: 12%;
    opacity: 0.5;
}

#submitEmoji {
    margin-top: 10px;
}

#emojiNavLeft{
    margin-right: 40px;
}

#responseVideo{
    width: 500px;
    height: 500px;
}


