<!--This is the appropriate response component html file
 We are using the ngIf function to only show the response in a mat-card when it matches
 the data.response value. The response value is basically the emoji.mood value
 we referred to in the home component.ts file -- Ahnaf -->

<div class="response" layout-gt-sm="row">
    <div flex-gt-sm="80" flex-offset-gt-sm="10">
        <mat-card style="border-radius: 10px; background: linear-gradient(#1a75ff,#ffff99 80%);">
            <mat-card-content id="response1" *ngIf="data.response == 1">I'm so sorry to hear that. Do you need help?</mat-card-content>
            <mat-card-content id="response2" *ngIf="data.response == 2">I'm sorry to hear that.</mat-card-content>
            <mat-card-content id="response3" *ngIf="data.response == 3">Ok, sounds good</mat-card-content>
            <mat-card-content id="response4" *ngIf="data.response == 4">I'm glad that you're happy!</mat-card-content>
            <mat-card-content id="response5" *ngIf="data.response == 5">Wow! That's great!</mat-card-content>


            <!-- get link is a variable that makes sure every link we present for a specific
            emoji or mood response gives out is not repeating.
            -->

            <mat-card-content id="response6" *ngIf="data.response == 1">                                <iframe id="responseSadVideoFrame"
                                                                                                                src="https://www.youtube.com/embed/videoseries?list=PLJmTiSHMC37CvQMRHaqg-6yEQpLWjAdWu&index=2"
                                                                                                                frameborder="0"
                                                                                                                allowfullscreen
                                                                                                                class="video"></iframe></mat-card-content>
            <mat-card-content id="response7" *ngIf="data.response == 2">                                <iframe id="responseAnxiousVideoFrame"
                                                                                                                src="https://www.youtube.com/embed/videoseries?list=PLJmTiSHMC37BVBh18FtFKX-fEEroV6tQ9&index=8"
                                                                                                                frameborder="0"
                                                                                                                allowfullscreen
                                                                                                                class="video"></iframe></mat-card-content>
            <mat-card-content id="response8" *ngIf="data.response == 3">                                <iframe id="responseHappyVideoFrame"
                                                                                                                src="https://www.youtube.com/embed/videoseries?list=PLJmTiSHMC37AO-nqegk5cEwS1ElAoQLNr"
                                                                                                                frameborder="0"
                                                                                                                allowfullscreen
                                                                                                                class="video"></iframe></mat-card-content>
            <mat-card-content id="response9" *ngIf="data.response == 4">                                <iframe id="responseMehVideoFrame"
                                                                                                                src="https://www.youtube.com/embed/videoseries?list=PLJmTiSHMC37D36KCVAns9LYvh1BV4m6YX"
                                                                                                                frameborder="0"
                                                                                                                allowfullscreen
                                                                                                                class="video"></iframe></mat-card-content>
            <mat-card-content id="response10" *ngIf="data.response == 5">                                <iframe id="responseHappyVideoFrame"
                                                                                                                 src="https://www.youtube.com/embed/videoseries?list=PLJmTiSHMC37AO-nqegk5cEwS1ElAoQLNr"
                                                                                                                 frameborder="0"
                                                                                                                 allowfullscreen
                                                                                                                 class="video"></iframe></mat-card-content>
        </mat-card>
    </div>
</div>
