body{
    background-image: url(http://www.wallpapereast.com/static/images/3D-Beach-Wallpaper-HD-Download_edJEIZH.jpg);
    background-size: 1920px 1080px;

}


#signInButton{
    margin: 10px;
}

.fill-remaining-space {
    /*!*This fills the remaining space, by using flexbox.
   Every toolbar row uses a flexbox row layout. *!*/
    flex: 1 1 ;
}
