body{
    background-color: #B3FFFC;
    /*
    font-family: 'Indie Flower', cursive;
    */
}


#signInButton{
    margin: 10px;
}

.fill-remaining-space {
    /*!*This fills the remaining space, by using flexbox.
   Every toolbar row uses a flexbox row layout. *!*/
    flex: 1 1 ;
}

#home{
    position: fixed;
    left: 20px;
}

#menu{
    position: fixed;
    left:0px;
}


