<!-- Don't allow the user to see anything if they aren't logged in. -->
<div *ngIf="isUserLoggedIN(); else promptLogin">


        <div layout-gt-sm="row">
            <div flex-gt-sm="80" flex-offset-gt-sm="10">

                <mat-card class="matCardMain">
                    <mat-card-title id="journal-list-title">Journals</mat-card-title>

                    <mat-divider></mat-divider>
                    <mat-card-content>

                        <mat-form-field class="matFormFieldSubject">
                            <input matInput id="journalSubject" #input type="text" placeholder="Filter by subject" (input)="journalSubject = $event.target.value">
                        </mat-form-field>
                        <mat-form-field class="matFormFieldBody">
                            <input matInput id="journalBody" #input type="text" placeholder="Filter by body" (input)="journalBody = $event.target.value">
                        </mat-form-field>

                        <button id="addNewJournal" mat-raised-button (click)="openDialog()">Add A New Journal</button>



                    </mat-card-content>
                </mat-card>
            </div>
        </div>

</div>

<!-- What to display if the user isn't logged in -->
<ng-template #promptLogin>
    <img class="loginEmoji" src="https://image.flaticon.com/icons/svg/260/260205.svg" alt="Sunshine Journal">
    <p class="loginEmojiText">Please sign in with your google account to access Sunshine Journal</p>
</ng-template>
