<!-- Don't allow the user to see anything if they aren't logged in. -->
<div *ngIf="isUserLoggedIN(); else promptLogin">


        <div layout-gt-sm="row">
            <div flex-gt-sm="80" flex-offset-gt-sm="10">

                <mat-card class="matCardMain">
                    <mat-card-title id="journal-list-title">Journals
                        <button id="selectJournal" mat-raised-button (click)="openDialogSelect()">Select a Journal Entry</button>
                        <button id="addNewJournal" mat-raised-button (click)="openDialog()">Add A New Journal</button>
                    </mat-card-title>
                    <mat-divider></mat-divider>

                    <div *ngIf="selectedJournal; else addJournal">
                        <mat-card-title>{{selectedJournal.subject}}</mat-card-title>
                        <mat-card-subtitle>{{getReadableDate()}}</mat-card-subtitle>
                        <mat-card-content>
                            <p>{{selectedJournal.body}}</p>
                            <button id="editJournal" mat-raised-button (click)="openDialogReview(selectedJournal)">Edit Journal</button>
                        </mat-card-content>
                    </div>

                </mat-card>

            </div>
        </div>

</div>

<!-- What to display if the user isn't logged in -->
<ng-template #promptLogin>
    <img class="loginEmoji" src="https://image.flaticon.com/icons/svg/260/260205.svg" alt="Sunshine Journal">
    <p class="loginEmojiText">Please sign in with your google account to access Sunshine Journal</p>
</ng-template>
